<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- * BREADCRUMB -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<app-breadcrumb [pageTitle]="'OWNERS.TITLE' | translate" />
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- * FILTERS -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<app-filter
  [fields]="filterFields"
  (filterSubmit)="onFilterSubmit($event)"
  (filterReset)="onFilterReset()"
/>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- TABLE -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="card">
  <app-table
    [tableName]="'OWNERS.TITLE' | translate"
    [data]="SAMPLE_DATA"
    [columns]="columns"
    [actions]="tableActions"
    [headerButtons]="topButtons"
  />
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- PAYMENT DIALOG -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
@if (paymentDialogVisible()) {
  <app-payment-dialog [ownerData]="selectOwner" (close)="closePaymentDialog()" />
}
