<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- * BREADCRUMB -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<app-breadcrumb [pageTitle]="'OWNERS.TITLE' | translate" />
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- * FILTERS -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="card">
  <div class="row">
    <div class="col-12 col-md-3">
      <input class="input" placeholder="Owner Code" />
    </div>
    <div class="col-12 col-md-3">
      <input class="input" placeholder="Owner Name" />
    </div>
    <div class="col-12 col-md-3">
      <div class="date-wrapper">
        <input type="date" class="input date-input" />
      </div>
    </div>
    <div class="select-wrapper col-12 col-md-3">
    <select class="select">
      <option value="" selected disabled>Pay Opthions</option>
      <option value="1">Pay</option>
      <option value="2">Not Pay</option>
    </select>
  </div>
  </div>
  <div 
    class="text-end">
      <button class="btn btn-primary ">Filter</button>
  </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- TABLE -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="card">
  <h2 class="text-neutral-500 mb-4">TABLE (with actions)</h2>
  <app-table
    [data]="SAMPLE_DATA"
    [columns]="columns"
    [actions]="tableActions"
    [headerButtons]="topButtons"
  />
</div>
